@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header2-1 H1 {
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
}
#content4-9 P {
  text-align: left;
}
#form1-b .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #ffffff;
}
